<%- layout('/layouts/boilerplate') %>
<body>
  <div class="row">
    <div class="col-8 offset-2 mb-3">
      <h3>Edit your Listing</h3>
      <form
        method="POST"
        enctype="multipart/form-data"
        action="/listings/<%= listing._id %>?_method=PUT"
      >
        <br />
        <div class="mb-3">
          <label for="title" class="form-label">Edit Title</label>
          <input
            name="listing[title]"
            value="<%= listing.title %>"
            type="text"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Edit Description</label>
          <textarea class="form-control" name="listing[description]">
<%= listing.description %></textarea
          >
        </div>
        <div class="mb-3">
          <p><b>Original Image</b></p>
          <img src="<%= imageurl %>" alt="" srcset="" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload updated Image</label>
          <input name="listing[image]" type="file" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Edit price</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Edit country</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            type="text"
          />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Edit location</label>
          <input
            name="listing[location]"
            class="form-control"
            value="<%= listing.location %>"
            type="text"
          />
        </div>

        <button class="btn btn-success mb-3">Save</button>
      </form>
    </div>
  </div>
</body>
